/* Color Theme Swatches in Hex */
.Teals-1-hex { color: #0FC2C0; }
.Teals-2-hex { color: #0CABA8; }
.Teals-3-hex { color: #008F8C; }
.Teals-4-hex { color: #015958; }
.Teals-5-hex { color: #023535; }

/* Color Theme Swatches in RGBA */
.Teals-1-rgba { color: rgba(15, 194, 192, 1); }
.Teals-2-rgba { color: rgba(12, 171, 168, 1); }
.Teals-3-rgba { color: rgba(0, 143, 140, 1); }
.Teals-4-rgba { color: rgba(1, 89, 88, 1); }
.Teals-5-rgba { color: rgba(2, 53, 53, 1); }

/* Color Theme Swatches in HSLA */
.Teals-1-hsla { color: hsla(179, 85, 40, 1); }
.Teals-2-hsla { color: hsla(178, 86, 35, 1); }
.Teals-3-hsla { color: hsla(178, 100, 28, 1); }
.Teals-4-hsla { color: hsla(179, 97, 17, 1); }
.Teals-5-hsla { color: hsla(180, 92, 10, 1); }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
